body {
    font-size: 12px;
    background-color:  rgba(0, 0, 0, 0.01);

}

img {
    border-radius: 40px;
}

ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    
}

li {
    display:inline;
    float: left;
}

li a {
    display:block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
}

li a:hover {
    background-color: blue;
    color: white;
}
#content {
    width: 90%;
    margin: auto;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: auto;
    padding: 20px;
}
.kanan {
    border-left: 1px solid grey;
    padding-left: 16px;
}

.kiri {
    padding-right: 100px;
}

button {
    background-color: white;
    border-color: blue;
    width: 70px;
    height: 30px;
}
button:hover {
    background-color: blue;
    color: white;
}

input {
    width: 100%;
}

.warna {
    background-color: rgb(13, 156, 13);
    color: white;
    border: none;
    height: 30px;
}

.warna:hover {
    background-color: blue;
}

.putih {
    background-color: white;
    
}

